@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --celeste: #3A7CA5;
    --celeste-dark: #2b5e7e;
    --Verde: #7ACB99;
    --Blanco: #FFFFFF;
    --Gris: #F2F4F8;
    --Jet: #2E2E2E;
}
* {
    font-family: Poppins, sans-serif;
}

/* Tipografías personalizadas */
.titulo-principal {
    font-family: 'Poppins', sans-serif;
    font-weight: 900; /* Black */
}

.subtitulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* SemiBold */
}

.encabezado {
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Medium */
}

.parrafo {
    font-family: 'Poppins', sans-serif;
    font-weight: 300; /* Light */
}

.texto-pequeno {
    font-family: 'Poppins', sans-serif;
    font-weight: 100; /* Thin */
    font-size: 0.85em;
}


/* Login & Register styles */
.btn-register{
    background-color: var(--celeste);
    border: none;
}
.btn-register:hover{
    background-color: var(--celeste-dark);
}

.btn-login{
    background-color: var(--celeste);
    border: none;
}
.btn-login:hover{
    background-color: var(--celeste-dark);
}

.form-auth{
    font-weight: 200;
}

